%body
  %header.py-0.sticky-top
    .container.logo.text-center
      = image_tag("logo.png")
    %nav.navbar.navbar-expand-md.navbar-darkbg-dark.sticky-top
      .container.list
        = link_to root_path, class:"navbar-brand py-1" do
          ShareLu
        %button.navbar-toggler
          %span.navbar-toggler-icon
        #navbar-content.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            - if user_signed_in?
              %li.col-auto.active
                = link_to root_path, class: "nav-link" do
                  Top
                  %span.sr-only
              %li.col-auto
                = link_to "", class: "nav-link" do
                  My Page
              %li.col-auto
                = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                  Log Out
              %li.col-auto.offset-md-10
                = link_to new_post_path, class: "nav-link", id: "post" do
                  = fa_icon 'camera'
                  投稿
            - else
              %li.col-auto.active
                = link_to root_path, class: "nav-link" do
                  Top
                  %span.sr-only
              %li.col-auto
                = link_to new_user_session_path, class: "nav-link" do
                  Log In
              %li.col-auto
                = link_to new_user_registration_path, class: "nav-link" do
                  Sign Up
