%body{onload: "initialize()"}
  .wrapper
    = render "header"
    = form_for (@post) do |f|
      .post_box
        .post_box__title
          .post_box__title__area
            = f.label "タイトル"
            = f.text_field :title, class: "input", placeholder: "20文字以内"
        .post_box__image
          .post_box__image__area
            = f.file_field :image, class: "file", strip: true, id: "file"
          .prev__box
            .view_box#dst
        .post_box__text
          .post_box__text__area
            = f.label "思い出やエピソード"
            = f.text_area :text, class: "input", placeholder: "200文字以内"
        / 地図を表示させる要素。widthとheightを必ず指定する。
        .place_input
          %input#place{size: "20", type: "text", placeholder: "お店の名前や住所を入力して検索して下さい"}
          %button{:onclick => "search()", :type => "button"} 検索
        %div#map_canvas{:style => "width:100%; height:400px"}
        = f.hidden_field :latitude, id:"lat"
        = f.hidden_field :longitude, id:"lng"
        = f.submit "投稿", class: "btn"
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}"}
      :cdata
