.show-wrapper
  = render "header"
  .card
    = image_tag @post.image.url
  .about
    .tip
      %h3
        ABOUT
    .about__box
      %p
        = @post.text
  .map_box
    .tip
      %h3
        MAP
    = render "map"
  .comments
    .tip
      %h3
        COMMENT
    .comments__box
      %ul.comments__box__content
        %li.clearfix
          = link_to "", class: "user-icon-area" do
            =image_tag "member_photo_noimage_thumb.png", class: "user-icon"
            .user-name
              次郎
          .comment
            .comment__text
              = "ああああああああああああああああああああああああああああああああああああああああああああああああああああああああ"
            .icons.clearfix
              .time
                %i.far.fa-clock
                %span
                  5日前
        %li.clearfix
          = link_to "", class: "user-icon-area" do
            =image_tag "member_photo_noimage_thumb.png", class: "user-icon"
            .user-name
              太郎
          .comment
            .comment__text
              = "いいいいいいいいいいいいいいい"
            .icons.clearfix
              .time
                %i.far.fa-clock
                %span
                  5日前
      .comments__area
        = form_for "" do |f|
          = f.text_area "", class: "input_comment"
          = f.submit "コメントする", class: "comment_submit"
    - if @post.user == current_user || current_user.admin?
      = link_to post_path{@post.id}, method: :delete, class: "delete_button", data: { confirm: "この投稿を取り消します。よろしいですか？" } do
        削 除

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"}
